.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data & Logs
*.log
*.csv
*.tsv
*.parquet
*.feather
*.sqlite
*.db

# System files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
